body {
  --border-radius: 20px;
}
html {
  scroll-behavior: smooth;
}

.side-buttons button {
  background-color: transparent;
  padding: 8px 10px;
  cursor: pointer;
  font-family: inherit;
  color: rgb(60, 60, 60);
  font-size: var(--default-font);
  font-weight: 500;
  margin-right: 10px;
  border: none;
}
nav {
  grid-template-columns: 1fr 2fr !important;
}
.locations {
  overflow-y: auto;
  overflow-x: scroll;
  display: flex;

  gap: 40px;
  width: 100%;
  scroll-behavior: smooth;
  white-space: none;
  padding: 0;
}
.card {
  color: white;
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 200px;
}
.search-temp {
  position: absolute;
  width: 50%;
  height: 400px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  top: 60px;
  overflow-y: auto;
}
.search-temp ::-webkit-scrollbar {
  background-color: white;
}
.search-temp ul {
  list-style-type: none;
  padding: 0;
}
.search-temp ul li {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  margin: 5px 20px;
  margin-bottom: 30px;
}
.search-temp ul li a {
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
}
.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(5, 69, 113);
}
.card-image img {
  width: 100%;
  height: 100%;
}
.card-name {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  /* background-color: red; */
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.locations::-webkit-scrollbar {
  display: none;
}

.scrol {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightbutton,
#leftbutton {
  background-color: rgb(31, 30, 30);
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.outer-container {
  margin: 80px 40px;
}
.outer-container h1 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.card-name a {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.search {
  width: 50%;
  position: relative;
}
#search-btn {
  color: black;
  border: none;
  font-size: 1em;
  width: 10%;
  /* margin: 0 4px; */
  font-size: 17px;
  padding: 15px 0px;
  position: absolute;
  border-left: none;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0px;
  margin: 0% auto;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 40px !important;
}

#search-now {
  width: 100%;
  position: relative;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: white;
  padding: 15px 40px;
}

.hero-section {
  height: 80vh;
  background-image: url(../assets/bb3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
}
.hide-item {
  display: none;
}
.view-item {
  display: flex;
}

.hero-text {
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.hero-container {
  position: relative;
  display: flex;
  /* background-color: blueviolet; */
  height: 480px;
  max-height: 480px;
  min-height: 350px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hero-text h1 {
  font-size: 2.8rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.default-properties-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.hero-second-container {
  width: 100%;
}

/* .search {
  margin-bottom: 20px
} */

.listings {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.listing img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.listing h2 {
  font-size: 1.2em;
  margin: 10px 0;
}
.about-cont {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.about-image {
  width: 500px;
}
.about-image img {
  width: 100%;
  border-radius: 5px;
}
.about-text {
  width: 600px;
}
.about-text ul li {
  padding: 10px 0px;
  font-size: 1em;
}

.listing p {
  margin: 0;
}
.ads {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.793);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 50px;
  z-index: 3;
}

.ads-image {
  background-image: url(../assets/WhatsApp\ Image\ 2024-08-01\ at\ 11.42.57_542124e9.jpg);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ads-x {
  color: white;
  font-size: 2em;
  top: 20px;
  position: absolute;
  right: 50px;
  cursor: pointer;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ads-x:hover {
  color: red;
}
.footer {
  position: relative;
  background-color: rgb(31, 31, 31);
  height: 200px;
  padding: 50px 25px 70px 25px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.socials {
}
.socials p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.socials a {
  color: white;
}
.medias {
  font-size: 20px;
}
#open-nav,
#close-nav {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 2;
  padding: 10px 0px;
  margin: 0 !important;
  background-color: white;
  border-bottom: 1.5px solid var(--border-color);
}
.logo-sticky {
  position: fixed;
  top: 0;
  width: 8%;
  left: -20px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  margin: 0;
  padding: 10px 40px;
  border-bottom: 1.5px solid var(--border-color);
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container > .logo h1 {
  font-size: 3em;
}
.logo-container > .logo span {
  font-size: 1em;
}
.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services ul li {
  padding: 7px 0px;
}
.services ul li a {
  color: white;
}
.subscribe > div {
  display: flex;
  align-items: center;
}
.subscribe > div input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--primari-color);
}
.subscribe > div button {
  background-color: var(--primari-color);
  padding: 10px 20px;
  cursor: pointer;
  margin: 0pc 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}
.subscribe p {
  font-size: 10px;
  color: var(--border-color);
}

.footer-last {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 30px;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 12px;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .hero-container {
    max-height: 350px;
  }
  .search-container {
    margin: 0% auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .hero-text h1 {
    font-size: 2em;
  }
  .hero-text h2 {
    font-size: 1em;
  }
  .outer-container {
    margin: 5px 20px;
  }
  .footer {
    height: 100%;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .subscribe > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .subscribe > div input,
  .subscribe > div button {
    margin: 0;
    padding: 8px 16px;
  }
  .socials p {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }
  .logo-container {
    justify-content: center;
    margin-bottom: 10px;
  }
  .logo-sticky {
    width: 20%;
    padding: 9px 20px;
    border-bottom: 1px solid var(--border-color);
  }
  .sticky {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 685px) {
  nav {
    width: 0px;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 0px !important;
    margin: 0;
    border: none !important;
    position: absolute;
    display: flex;
    background-color: transparent;
    z-index: 2;
  }
  #open-nav,
  #close-nav {
    display: flex;
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    color: black;
    justify-content: center;
    align-items: center;
  }
  .side-buttons button {
    width: 100%;
    margin-top: 20px;
  }
  #open-nav {
    color: whitesmoke;
  }
  .navigation {
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    /* width: 250px;
    padding: 50px 20px; */
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .navigation ul {
    width: 100%;
    background-color: transparent;
    padding: 0;
    display: block;
  }
  .navigation ul li {
    padding: 10px 0px;
    margin-bottom: 15px;
    width: 100%;
  }
  .navigation ul li:hover {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--border-color);
  }
  .logo {
    margin: 0px 10px !important;
    padding: 0;
  }
  .logo h1 {
    color: white;
    font-size: 1.8em !important;
    text-align: center;
    margin: 0;
  }
  .logo span {
    font-size: 0.4em !important;
    text-align: center;
    color: white !important;
    padding: 0 !important;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
    background-color: white;
    border-bottom: 1.5px solid var(--border-color);
  }
  /* .search input,
  .search button {
    padding: 5px;
    margin: 2px !important;
  } */
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
    margin-top: 70px;
  }
  .hero-text h1 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1em;
    text-indent: unset;
    text-align: center;
    margin: 0;
  }
  .hero-text h2 {
    padding: 0;
    font-size: 1em;
    text-align: center;
  }
  .hero-text p {
    line-height: 20px;
    font-size: 0.9em;
    padding-inline-start: 0;

    font-weight: 400;
    line-height: 1.2em;
  }

  .hero-text {
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  .hero-section {
    height: 50vh;
    background-image: url(../assets/bb3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    background-position: center;
  }
  .hero-container {
    align-items: start;
    padding-top: 120px;
    text-align: left;
    margin-bottom: 0;
    height: 100%;
  }
  .search {
    width: 70%;
  }
  #search-now {
    padding: 10px 40px 10px 10px;
  }

  #search-btn {
    padding: 10px 0px;
    margin-right: 5px;
  }
  #rightbutton,
  #leftbutton {
    background-color: rgb(31, 30, 30);
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .outer-container {
    margin: 40px 20px !important;
  }
  .outer-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .scrol {
    margin-top: 20px;
  }
  .locations {
    gap: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: start;
  }
  .card {
    width: 100%;
  }
  .card-image {
    width: 100%;
  }
  .card-name {
    width: 100%;
  }

  #rightbutton,
  #leftbutton {
    margin: 0 5px;
  }
  .ads-x {
    right: 10px;
    cursor: pointer;
  }
  .hide-nav {
    display: none;
  }
}
